<div id="<%= dom_id discussion %>">
  <p>
    <strong>Title:</strong>
    <%= link_to discussion.title, discussion %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= discussion.content %>
  </p>

</div>
